.menu{
    background-image: url(./img/pexels-sourav-mishra-2747540.jpg);
    background-size: 1500px;
    height: 700px;
}

.titulo-menu{
    text-align: center;
    font-size: 5rem;
    color: black;
    font-weight: 500;
    padding-top: 10px;
    font-family: 'Bebas Neue', cursive;
}

nav ul{
    display: flex;
    justify-content: center;
    
}

nav ul li a{
    margin-top: 20px;
    font-size: 2rem;
    margin: 20px;
    font-family: 'Bebas Neue', cursive;
    color: black;
    text-decoration: none;
    
}

nav ul li a:hover{
    color: gray;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .menu{
        background-size: 800px;
        height: 400px;
    }

    .titulo-menu{
        font-size: 3rem;
        margin-bottom:10px;
        
    }

    nav ul li a{
        font-size: 1.5rem;
        margin:10px;
        
    }
}
