.moto-1{
    background-image: url(/img/pexels-harsh-10138605.jpg);
    background-size: 1400px;
    height: 800px;
    display: flex;
    margin: 10px 10px;
}

.moto-2{

    display: flex;
    margin: 50px;
}

.moto-3{
    background-image: url(/img/motorbike-ga5d7780a7_1920.jpg);
    background-size: 1400px;
    height: 800px;
    display: flex;
    margin:10px 10px;
}

.moto-4{
    background-image: url(/img/pexels-sourav-mishra-2747538.jpg);
    background-size: 1400px;
    height: 800px;
    display: flex;
    margin: 10px 10px;
}


.titulo-moto-1{
    font-size: 4rem;
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Bebas Neue', cursive;
}

.paragrafo-1{
    font-family: 'Manrope', sans-serif;
    margin-left: 20px;
    margin-right: 600px;
    font-size: 1.5rem;
}

.titulo-moto-2{
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
}

.conteudo-1{
    
}

.conteudo-2{
    margin-right: 10px;
}