body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Manrope', sans-serif;
    
}

.sobre{
    background: black;
    padding-top: 50px;
    padding-bottom: 30px;
}

.sobre-titulo{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    color: aliceblue;
    text-align: center;
    padding-bottom: 30px;
}

.sobre-conteudo{
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    color: aliceblue;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.royal{
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-top: 20px;
}

.moto-royal{
    margin-left: 20px;
}

.royal-titulo{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.royal-conteudo{
    font-family: 'Manrope', sans-serif;
    margin-right: 200px;
}

.t100{
    display: flex;
    align-items:center;
    margin-right: 200px;
    margin-top: 20px;
}

.moto-t100{
    margin-right: 20px;
}

.t100-titulo{
    text-align: end;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.t100-conteudo{
    margin-left:200px ;
    font-family: 'Manrope', sans-serif;
}