/* Color Theme Swatches in Hex */
.Fuel-Motorcycles-1-hex { color: #403F3F; }
.Fuel-Motorcycles-2-hex { color: #0D0C09; }
.Fuel-Motorcycles-3-hex { color: #F2F2EB; }
.Fuel-Motorcycles-4-hex { color: #737272; }
.Fuel-Motorcycles-5-hex { color: #592E15; }


body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Manrope', sans-serif;
    
}

.sobre{
    background:  #0D0C09;
    padding-top: 50px;
    padding-bottom: 30px;
}

.sobre-titulo{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    color: #F2F2EB;
    text-align: center;
    padding-bottom: 30px;
}

.sobre-conteudo{
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    color: #F2F2EB;
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
}

.royal{
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-top: 20px;
}

.moto-royal{
    margin-left: 20px;
}

.royal-titulo{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.royal-conteudo{
    font-family: 'Manrope', sans-serif;
    margin-right: 200px;
    text-justify:inter-word;
    text-align: justify;
}

.t100{
    display: flex;
    align-items:center;
    margin-right: 200px;
    margin-top: 20px;
}

.moto-t100{
    margin-right: 20px;
}

.t100-titulo{
    text-align: end;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.t100-conteudo{
    margin-left:200px ;
    font-family: 'Manrope', sans-serif;
    text-justify:inter-word;
    text-align: justify;
}

.titulo-equipamento{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.equipamentos{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.eq{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    padding-top: 10px;
}

.eq-case{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.eq-contener{
   margin-bottom: 30px;
}

@media only screen and (max-width: 600px){
    .sobre-conteudo{
        text-align: justify;
        text-justify:inter-word;
        font-size: 1.2rem;
        margin:10px
    }

    .royal{
        display: flex;
        flex-direction: column;
        margin: 10px;
        margin-top: 0;
    }

    .royal-titulo{
        text-align: center;
        margin-top: 5px;
    }

    .moto-royal{
        margin: 0;
    }

    .royal-conteudo{
        margin: 10px;
    }

    .t100{
        display: flex;
        flex-direction: column-reverse;
        margin: 10px;
    }

    .t100-titulo{
        text-align: center;
        margin-top: 10px;
    }

    .t100-conteudo{
        margin: 10px;
    }
    .equipamentos{
        display: flex;
        flex-direction: column;
    }

    .eq{
        margin-bottom: 50px;
    }

    .img-moto{
        width: 400px;
        height: 400px;
    }
}